/*--- Font Family ---*/

@import url("https://fonts.googleapis.com/css?family=Arimo:100,200,300,400,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Turret+Road:100,200,300,400,500,600,700,800,900");
/*--- Background Images ---*/


/*--- Header Format ---*/

h1
h2
h3
h4
h5
h6 {
    font-family: 'Playfair Display', serif;
}

a {
    text-decoration: none !important;
}

/*--- Nav Bar ---*/

nav {
    background-color: #46344e;
    opacity: 0.85;
}

.nav-bar {
    margin-bottom: 0px;
    margin-top: 0px;
}

.nav-link {
    color: #46344e;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-link a {
    color: rgb(184, 115, 51);
    font-family: 'Turret Road', cursive;
    font-weight: bolder;
    font-size: x-large;
}

.nav-link a:hover {
    color: #ffffff;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

.test {
    padding-top: 25px;
    padding-bottom: 25px;
}

/*--- Footer ---*/

footer{
    clear: both;
    min-height: 100px;
    background-color: #46344e;
    opacity: 0.85;
    float: none;
}

.footer-links {
    text-align: center;
}

.footer-format {
    margin-bottom: 20px;
}

.footer-format li {
    color: #46344e;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 15px;
}

.footer-format li a {
    color: rgb(184, 115, 51);
    font-size: x-large;
    text-shadow: 1px 1px 2px #000000;
    padding: 5px 7.5px 5px 7.5px;
    border: 3px solid rgb(184, 115, 51);
    border-radius: 25px;
}

.footer-format li a:hover {
    color: #ffffff;
    border: 5px solid #ffffff;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

/*--- Media Queries ---*/

@media(min-width: 768px) {
    .footer-links {
        display: inline;
    }
}